@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;

  font-family: Roboto;
  font-size: 16px;
  background: #DDD;
}
